In [1]:
import nfl_data_py as nfl
import pandas as pd
import psycopg2
from sqlalchemy import create_engine
pd.set_option("display.max_columns", None)

import warnings
warnings.filterwarnings("ignore")

In [26]:
sleeper_ids = execute_statement("select * from ids where id_source = 'sleeper_id'")

    index                  name   id_source      id
0   56557            Jaren Hall  sleeper_id  9231.0
1   57031   Montrell Washington  sleeper_id  8475.0
2   57034        Tycen Anderson  sleeper_id  8377.0
3   57041         John Ridgeway  sleeper_id  8306.0
4   57047       Andrew Ogletree  sleeper_id  8489.0
5   57054          Quentin Lake  sleeper_id  8330.0
6   57061       Chance Campbell  sleeper_id  8369.0
7   57071           Faion Hicks  sleeper_id  8521.0
8   57072          Dareke Young  sleeper_id  8527.0
9   57076           Chase Lucas  sleeper_id  8264.0
10  57078      Christian Holmes  sleeper_id  8516.0
11  57085        Jeffrey Gunter  sleeper_id  8402.0
12  57087          Elijah Hicks  sleeper_id  8509.0
13  57091        Zander Horvath  sleeper_id  8428.0
14  57114         Irvin Charles  sleeper_id  8861.0
15  57121             BJ Baylor  sleeper_id  8240.0
16  57123  Sterling Weatherford  sleeper_id  8403.0
17  57131        Luke Masterson  sleeper_id  8839.0
18  57136           Ryan Wright  sleeper_id  8528.0
19  57144           Jake Hansen  sleeper_id  8349.0

In [2]:
def execute_statement(sql: str):
    with psycopg2.connect(host="localhost", database="thefantasybot", user="tbakely") as conn:
         df = pd.read_sql(sql, conn)
         return df

In [14]:
sql_statement = """select
	player_name,
	position,
	recent_team,
	season,
	week,
	case when attempts <> 0 then (completions/attempts) else null end as comp_pct,
	passing_yards,
	passing_tds,
	interceptions,
	sacks,
	sack_yards,
	passing_air_yards,
	passing_yards_after_catch,
	passing_first_downs,
	passing_epa
from weekly_data
where position = 'QB'
and attempts > 0"""

In [3]:
from sql_tables import *

execute_statement(passing_with_ngs)

,player_name,position,recent_team,season,week,comp_pct,passing_yards,passing_tds,interceptions,sacks,sack_yards,passing_air_yards,passing_yards_after_catch,passing_first_downs,passing_epa,avg_time_to_throw
0,T.Siemian,QB,DEN,2016,1,0.69,178.0,1,2.0,2.0,19.0,125.0,90.0,11.0,-2.847241,2.416077
1,T.Siemian,QB,DEN,2016,2,0.67,266.0,0,1.0,1.0,0.0,220.0,122.0,13.0,1.095422,2.716818
2,T.Siemian,QB,DEN,2016,3,0.66,312.0,4,0.0,2.0,9.0,230.0,123.0,13.0,18.918785,2.444971
3,T.Siemian,QB,DEN,2016,6,0.60,230.0,1,0.0,2.0,10.0,423.0,80.0,10.0,-1.799562,2.748480
4,T.Siemian,QB,DEN,2016,7,0.56,157.0,1,0.0,0.0,0.0,228.0,68.0,8.0,1.975954,2.358760
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3798,D.Ridder,QB,ATL,2022,16,0.67,218.0,0,0.0,2.0,6.0,202.0,107.0,11.0,3.936625,2.652697
3799,D.Ridder,QB,ATL,2022,17,0.73,169.0,0,0.0,1.0,3.0,153.0,92.0,9.0,-0.182164,2.754000
3800,D.Ridder,QB,ATL,2022,18,0.63,224.0,2,0.0,2.0,16.0,347.0,74.0,11.0,6.603794,3.107567
3801,M.Willis,QB,TEN,2022,9,0.31,80.0,0,0.0,3.0,23.0,204.0,62.0,3.0,-5.561052,3.169812
3802,M.Willis,QB,TEN,2022,16,0.61,99.0,0,2.0,4.0,11.0,140.0,37.0,4.0,-17.224499,3.460652

In [12]:
conn = psycopg2.connect(
    host="localhost",
    database="thefantasybot",
    user="tbakely",
    )

cursor = conn.cursor()

In [13]:
sql = """SELECT * FROM ids;"""
sql2 = """DROP TABLE ids;"""

cursor.execute(sql)

In [11]:
engine = create_engine("postgresql+psycopg2://tbakely@localhost:5432/thefantasybot")

id_sql.to_sql('ids', engine, if_exists= 'replace')

140

In [4]:
import nfl_data_py as nfl

In [11]:
nfl.import_ids()

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,rotowire_id,rotoworld_id,ktc_id,pfr_id,cfbref_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season
0,15702,93147c90-09c8-471d-a6b2-0b9d19739ba1,24740.0,NaN,NaN,9230.0,NaN,NaN,NaN,NaN,2963945.0,16686.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,1123521.0,Tanner McKee,tanner mckee,QB,PHI,2000-04-27,23.3,2023.0,6.0,11.0,NaN,NaN,78.0,231.0,Stanford,2023
1,16148,38475bfa-9773-4c3b-9157-a0dbd576fa22,22900.0,NaN,NaN,9228.0,NaN,NaN,NaN,NaN,3161957.0,16807.0,NaN,NaN,NaN,NaN,40029.0,0.0,NaN,1213257.0,Bryce Young,bryce young,QB,CAR,2001-07-25,22.0,2023.0,1.0,1.0,NaN,NaN,70.0,204.0,Alabama,2023
2,16149,4c8a2f7e-f982-4eca-9d52-cf53df6985a4,22987.0,NaN,NaN,9999.0,NaN,NaN,NaN,NaN,2964377.0,16665.0,NaN,NaN,NaN,NaN,40068.0,0.0,NaN,1116663.0,Will Levis,will levis,QB,TEN,1999-06-27,24.1,2023.0,2.0,2.0,NaN,NaN,76.0,229.0,Kentucky,2023
3,16150,7e91086f-9ca4-4bd9-a099-b88b2f37e6c6,23071.0,NaN,NaN,9758.0,NaN,NaN,NaN,NaN,3163079.0,16886.0,NaN,NaN,NaN,NaN,40030.0,0.0,NaN,1214084.0,C.J. Stroud,cj stroud,QB,HOU,2001-10-03,21.9,2023.0,1.0,2.0,NaN,NaN,75.0,218.0,Ohio State,2023
4,16151,25b10007-802d-4ebb-8314-3eb7b24ddc37,24332.0,NaN,NaN,9998.0,NaN,NaN,NaN,NaN,2805110.0,20191.0,NaN,NaN,NaN,NaN,40096.0,0.0,NaN,976966.0,Hendon Hooker,hendon hooker,QB,DET,1998-01-13,25.6,2023.0,3.0,5.0,NaN,NaN,75.0,221.0,Tennessee,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11307,972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Doug Brien,doug brien,PK,NOS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023
11308,978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jeremy Brigham,jeremy brigham,TE,OAK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023
11309,984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Vincent Brisby,vincent brisby,WR,FA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023
11310,990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bubby Brister,bubby brister,QB,KCC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023
11311,996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lorenzo Bromell,lorenzo bromell,DL,MIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023

In [13]:
from analysis import NFLVerseData

In [16]:
pbp = NFLVerseData([2022]).get_full_pbp()

2022 done.
Downcasting floats.
Downcasting floats.

In [19]:
pd.get_dummies(pbp["number_of_pass_rushers"], dtype=float, prefix="pass_rushers")

,pass_rushers_0.0,pass_rushers_1.0,pass_rushers_2.0,pass_rushers_3.0,pass_rushers_4.0,pass_rushers_5.0,pass_rushers_6.0,pass_rushers_7.0,pass_rushers_8.0,pass_rushers_9.0
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
50142,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50143,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50144,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50145,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
50146,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
import numpy as np

pbp["blitz"] = np.where(pbp["number_of_pass_rushers"] > 4, 1, 0)

In [27]:
from analysis import NFLVerseData

In [35]:
id_check = NFLVerseData([2022]).get_ids()

2022 done.
Downcasting floats.
Downcasting floats.

In [31]:
import nfl_data_py as nfl

In [37]:
id_check = nfl.import_ids()
id_check.loc[id_check["name"] == 'Jalen Hurts']

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,rotowire_id,rotoworld_id,ktc_id,pfr_id,cfbref_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season
1025,14783,64bd0f02-6a5d-407e-98f1-fd02048ea21d,19275.0,00-0036389,40291.0,6904.0,NaN,4040715.0,32723.0,NaN,2240246.0,14416.0,NaN,595.0,HurtJa00,jalen-hurts-1,32723.0,0.0,21831.0,913271.0,Jalen Hurts,jalen hurts,QB,PHI,1998-08-07,25.0,2020.0,2.0,21.0,53.0,JalenHurts,73.0,223.0,Oklahoma,2023